/* 0. Global variables */
:root {
    --primary: #224A99;
    --secondary: #FF8168;
    --white: #F1EAE4;
    --gray: #9C9691;
    --gray-light: #9C9691;
    --gray-lightest: #B8B1AB;
    --gray-dark: #5A5754;
    --black: #1A1A19;

    --toastContainerTop: 2.5rem;
    --toastContainerRight: auto;
    --toastContainerBottom: auto;
    --toastContainerLeft: calc(50vw - 8rem);
    --toastBackground: var(--black);
    --toastBarBackground: var(--gray-light);
    --toastBarHeight: 4px;
    --toastMsgPadding: 0.5rem 1rem;
}

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
    height: 100%;
}
/* Typographic tweaks! 4. Add accessible line-height 5. Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    background-color: #B8B1AB;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--gray-light);
    margin: 2rem 0;
}

@media (min-width: 1024px) {
    .separator {
        margin: 4rem 0;
    }
}